
<div class="con">
    <div class="row">
        <div class="col">
            <form>
                <div class="mb">
                    <input class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="Price" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="Available" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="No.of.Drivers" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="Duration" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="Img url" type="text">
                </div>
                <div class="mb">
                    <input class="form-control" placeholder="Like" type="text">
                </div>
                <div class="mb">
                    <input class="btn" value="add" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>