<!DOCTYPE html>
<app-header></app-header>

                                    <!-- here we will be directed to the header component -->
<router-outlet></router-outlet>
                        <!-- router outlet is where routing takes place as we defined it in app.routing.module -->

<!--<mat-drawer-container >
    <mat-drawer #sidebar mode="side" opened="true">
        <app-trail></app-trail>
    </mat-drawer>
    <mat-drawer-content >
        <div class="content">
            <div class="tb">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <p>A headphone zone</p>
                </mat-toolbar>
            </div>
        </div>
        <div class="main">
            <app-header></app-header>
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container> 

{path:'search/:searchitem',component:HomeComponent}, //path set up
      {path:'tag/:tag',component:HomeComponent},-->