.col{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.form-control{
    width: 10cm;
    height: 1cm;
    padding: .5cm;
    margin: .2rem;
}
.btn{

    /* margin-left: 9rem;
    border-radius: 1rem; */
    background-color: greenyellow;
    width: 5rem;
    height: 2.5rem;
}