<div class = "sb">
    
    <div class="sbs">
        <h3>Dashboard</h3>
    </div>
    <div class="sbm">
        <li><a class="adding" routerLink="add">
            <span>Add</span>
            <mat-icon>add_circle_outline</mat-icon>
        </a></li>
        <li><a class="deleting" routerLink="delete">
            <span>Delete</span>
            <mat-icon>delete_outline</mat-icon>
        </a></li>
        <li><a class="exiting" routerLink="/">
            <span>Home</span>
            <mat-icon>home</mat-icon>
        </a></li>
    </div>
</div>